.container {
    width: 100vw;
    min-height: 100vh;
    background-color: #EEEEEE;
}

.topContainer{
    padding-bottom: 4%;
    background-color: #FFFFFF;
    border-radius: 0px 0px 10vw 10vw;
    box-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.25);
}

.header {
    width: 100%;
    padding: 2% 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8.3%;
    aspect-ratio: 1/1;
}

.logo {
    width: 44%;
}

.img{
    width: 100%;
}

.mainContainer {
    display: flex;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 5%;
    align-items: center;
    justify-content: space-around;
}

.detailContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    width: 90%;
    margin:  0% 5%;
    gap: 2vw;
    font-size: 4vw;
    color: #151515;
    font-weight: 400;
}

.titleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin-left: 5%;
    margin-right: 6%;
    font-size: 2vw;
    color: #151515;
    font-weight: 400;
    align-items: 'end';
}

.helpContainer {
    display: flex;
    font-size: 1.95vw;
    color: #151515;
    font-weight: 400;
    align-items: 'end';
}

.checkContainer {
    display: flex;
    font-size: 2vw;
    color: #151515;
    font-weight: 400;
    justify-content: flex-end;
    margin-right: 6%;
}

.Container {
    display: flex;
    font-size: 2vw;
    color: #151515;
    font-weight: 400;
    align-items: 'end';
}

.buildingContainer {
    display: flex;
    font-size: 3.5vw;
    color: #151515;
    font-weight: 400;
    align-items: 'center';
}

.bottomContainer {
    margin-top: 5%;
    width: 100%;
    font-size: 4vw;
    color: #151515;
    font-weight: 400;
    display: flex;              
    justify-content: center;   
    align-items: center; 
}

@media (max-width: 1000px) {
    .blackBox {
      display: none;
    }
  }

.whiteBox{
    width: 90%;
    height: 50vw;
    font-weight: 600;
    padding: 3vw;
    background-color: #FFFFFF;
    border-radius: 3vw;
    text-align: left;
    box-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.25);
}

.blackBox{
    width: 50%;
    height: 38vw;
    padding: 2% 5%;
    margin-left: 2%;
    margin-right: 5%;
    background-color: #000000;
    border-radius: 3vw;
    text-align: left;
    box-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.25);
}

.weatherBoxRight{
    display: none;
}

.weatherBox {
    width: 50%;
    height: 38vw;
    padding: 2% 3%;
    margin-left: 5%;
    background-color: #FFFFFF;
    border-radius: 3vw;
    text-align: left;
    box-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.25);
    font-size: 2.5vw;
    line-height: 1.2;
}

@media (max-width: 1000px) {
    .weatherBox {
        width: 90%;
        margin:auto;
    }
    .weatherBoxLeft{
        width: 90%;
    }
    .checkContainer{
        display: none;
    }
    .weatherBoxALL{
        display: flex;
        width: 100%;
    }
    .weatherBoxRight{
        display: block;
    }
  }
  
.weatherDateContainer {
    display: flex;
    align-items: center;
    margin-bottom: 5vw;
}

.dateIcon {
    width: 2.5vw;
    margin-right: 0.7vw; 
}

.weatherDate {
    font-size: 2vw;
}

.weatherTemperature {
    font-size: 6vw;
    font-weight: bold;
    margin: 0;
}

.weatherRain {
    font-size: 2.8vw;
    margin: 0.5vw;
    margin-left: 1.5vw;
}

.weatherMinMax {
    font-size: 2.5vw;
    margin: 0.5vw 0;
    margin-left: 1.5vw;
}

.weatherAdvice {
    font-size: 2.2vw;
    margin-top: 0.8vw;
    margin: 0.5vw;
    margin-left: 1.5vw;
}

