/* 버튼 컨테이너 스타일 */
.toggleButton {
  display: flex;
  align-items: center;
  width: clamp(20px, 2.4vw, 44px);
  height: clamp(12px, 1.2vw, 40px);
  cursor: pointer;
  border-radius: 1vw;
  position: relative;
  background-color: #E0E0E0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* 활성 상태 버튼 색상 */
.toggled {
  background-color: #4CAF50; /* 활성화된 상태의 색상 */
}

/* 원 스타일 */
.circle {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  top: 50%;
  transform: translateY(-50%);
}

/* 원 위치 조정 */
.left {
  transform: translateX(15%) translateY(-50%);
}

.right {
  transform: translateX(1.2vw) translateY(-50%);
}
