.checkboxGroup {
  display: flex;
  height: 100%;
  flex-direction: column;
  border: 1px solid #b0b0b0 !important;
  padding: 16% 5%; 
  box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.1), 0px 4px 4px -1px rgba(12, 12, 13, 0.05);
  border-radius: 10px;
  justify-content: space-around;
  width: 100%; 
}

.checkboxLabel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.checkboxInput {  
  display: flex;  
  align-items: center; 
  justify-content: center;
  margin: 8px 5%; 
  width: 16px;
  height: 16px;
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--checkbox-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkboxInput:checked {
  background-color: var(--checkbox-color);
  border-color: var(--checkbox-color);
}

.checkboxText {
  display: inline-block;
  font-size: clamp(10px, 1.2vw, 18px);
  color: #333;
}
