.mainContainer {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .welcomeMessage {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 60px;
  }
  
  .scrollContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .buildingsWrapper {
    display: flex;
    align-items: center;
    width: 80%;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 20px 0;
  }
  
  .buildings {
    display: inline-flex;
    gap: 60px;
  }
  
  .building {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    flex: 0 0 240px;
  }
  
  .building:hover {
    transform: scale(1.1);
    z-index: 10;
  }
  
  .building img {
    width: 250px;
    height: auto;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.1));
  }
  
  .building h2 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
  }
  
  .scrollButton {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
  }
  
  .scrollButton:hover {
    transform: scale(1.1);
    background-color: #e0e0e0;
  }
  
  .registerMessage {
    margin-top: 80px;
    text-align: center;
    font-size: 1rem;
  }
  
  .registerButton {
    background-color: #4E8A66;
  }

  .registerButton:hover {
    background-color: #2D6A4F;
  }

  .popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popupContent {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .popupTitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .popupForm label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-size: 0.9rem;
  }
  
  .popupForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .popupActions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .popupButton {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    width: 170px;
    height: 40px;
    background-color:#4E8A66;
  }

  .popupButton:hover {
    background-color:#2D6A4F;
  }
  
  .popupButton.cancel {
    background-color: #f0f0f0;
    color: #333;
    
  }
  
  .popupButton.submit {
    color: white;
  }
  