.icons {
  width: clamp(16px, 2vw, 50px);
  margin-right: 8px;
  margin-bottom: -8px;
}

.scrollableContainer {
  max-height: 200px; /* 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
}



/* Firefox 전용 스타일 */
.scrollableContainer {
  scrollbar-width: thin; /* 스크롤바 두께 */
  border-radius: 10px; /* 둥근 트랙 */
  scrollbar-gutter: stable; /* 스크롤 버튼 제거 */
}

