/*Main.module.css*/
.mainContainer {
  padding: 20px;
  height: 100vh; /* 전체 화면 높이를 맞추기 위해 추가 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수직 중앙 정렬 */
}

/* 애니메이션 1 */
@keyframes fadeInAndGrow {
  0% {
    opacity: 0;
    transform: scale(0.8); /* 크기를 80%로 줄여 시작 */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* 원래 크기로 돌아옴 */
  }
}
/* 애니메이션 2 */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px); /* 위에서 시작 */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* 원래 위치로 이동 */
  }
}
/* 애니메이션 3 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* 애니메이션 4 */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-8%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

/* 환영합니데이 */
.welcomeMessage {
  text-align: center;
  margin-right: calc(25%);
  margin-top: 20px;
  animation: slideDown 1.5s ease-in-out;
}
.fadeOutMessage {
  transform: translateY(-50px); /* 위로 이동 */
  opacity: 0; /* 투명하게 */
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
}
/*margin-bottom 건들지 말 것,,,*/
.topMessage {
  display: flex;
  margin-left: 6%;
  margin-bottom: -44px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  animation: fadeInLeft 1.5s;
  align-items: center; /* 아이콘과 텍스트 수직 중앙 정렬 */
}

/*호버링 시 보일 박스 내 스타일*/
.sensorImg {
  width: 20px;
  margin-right: 8px;
  margin-bottom: 4px;
}
.sensorText {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.statusLight {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-left: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.261) /* 부드러운 그림자 */;
}

/* 도형 주위의 확산 링 */
.ring {
  position: absolute;
  border: 2px solid; /* 색상은 JavaScript에서 설정 */
  border-radius: 50%;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 1.5s infinite;
  opacity: 1;
  z-index: 1;
}

/* 두 번째 링을 조금 더 크게 설정하고 딜레이 추가 */
.ring:nth-child(2) {
  width: 52px;
  height: 52px;
  animation-delay: 0.75s;
  z-index: 1;
}

.animated-shape {
  position: relative;
  z-index: 10;
}
/* 확산 효과 애니메이션 */
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}

.hoverBox {
  position: absolute;
  left: 260%;
  width: 260px;
  padding: 160%;
  background-color: #f0fbeb;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  z-index: 1000;
}

/**/

.topMessageDetail {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 수평 중앙 정렬 */
  height: 80%; /* 부모 요소 높이에 맞추기 위해 추가 */
  width: 100%;
  margin: 0 auto;
}

.buildings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3개의 고정 칸 생성 */
  gap: 20px;
  width: 70%;
  align-items: flex-start;
  margin-top: -180px;
  margin-left: 40px;
}

/* 각 건물의 위치 고정 */
.buildings > div:nth-child(1) {
  left: 10%;
  top: 40%;
}
.buildings > div:nth-child(2) {
  left: 32%;
  top: 40%;
}
.buildings > div:nth-child(3) {
  left: 54%;
  top: 40%;
}

/**/
.building {
  position: absolute;
  text-align: center;
  cursor: pointer;
  margin: 0 4px; /* 건물들 사이에 여백을 추가 */
  width: 200px; /* 고정된 넓이 */
  height: 300px; /* 고정된 높이 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.building:hover {
  transform: scale(1.1);
}

.building img {
  width: clamp(50px, 20vw, 300px);
  height: auto;
  max-height: 300px;
  filter: drop-shadow(0px 8px 8px #c7c7c7);
}

.sensorInfo {
  margin-top: 4px;
  margin-bottom: 4px;
}

.greenLight {
  width: 10px;
  height: 10px;
  background-color: green;
  display: inline-block;
  border-radius: 50%;
}

.redLight {
  width: 10px;
  height: 10px;
  background-color: red;
  display: inline-block;
  border-radius: 50%;
}

.weatherAndLogs {
  width: 22%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end; /* 오른쪽 끝으로 밀어내기 */
  gap: 8px;
  margin-bottom: 15%;
  margin-right: -10px;
}
/*날씨*/
.weatherInfo {
  margin-top: 1%;
  background-color: #ffedc3; /* 오렌지색 배경 */
  border-radius: 20px 0 0 20px; /* 모서리 */
  padding: clamp(12px, 1vw, 100px); /* 박스 내부 여백 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.261); /* 부드러운 그림자 */
  width: 100%; /* 박스가 부모의 너비를 차지하도록 */
  color: black;
  z-index: 800;
}
/*로그기록*/
.sensorLogs {
  background-color: #ffd9b7; /* 오렌지색 배경 */
  border-radius: 20px 0 0 20px; /* 모서리 */
  padding: clamp(12px, 1vw, 100px); /* 박스 내부 여백 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.261); /* 그림자 */
  width: 100%;
  color: black;
  z-index: 800;
}

/* ping icon */
.pingIcon {
  margin-right: 10px;
  margin-bottom: -4px;
  font-size: 24px;
  color: grey;
}

.weatherInfo h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
.sensorLogs h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.weatherInfo p,
.sensorInfo p {
  margin: 5px 0;
}

/* 신공학관 누르면 */
.fadeOut {
  opacity: 0;
  pointer-events: none; /*다른 건물 숨기기*/
  transition: opacity 1s ease-in-out; /* 건물이 사라지도록 애니메이션 적용 */
}

.moveLeft {
  display: flex;
  transform: translateX(-200%); /* 신공학관이 왼쪽으로 이동 */
  transition: transform 1.5s ease-in-out;
}

.moveLeft:hover {
  /* 신공학관이 moveLeft 상태일 때 hover해도 위치 변경 안되도록 함 */
  transform: translateX(-200%); /* 신공학관이 왼쪽으로 이동 */
  pointer-events: none;
}
/* 도면도 보여주기 */
.additionalContent {
  opacity: 0;
  animation: fadeIn 1s forwards 1s; /* 새로운 정보가 서서히 나타남 */
}

.selectedBuildingImage {
  position: absolute;
  top: 20%;
  left: 35%;
  justify-content: center;
  align-items: center;
  z-index: 10; /* 다른 요소 위에 배치 */
  cursor: pointer;
}

.floorplanOverlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

/* 팝업 구현 */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background-color: rgba(191, 191, 191, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.popup p {
  font-size: 16px;
}

.popupContent {
  background-color: white;
  padding: 20px 40px 0px 40px; /* 박스 내부 여백 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.261); /* 부드러운 그림자 */
  width: 16%; /* 박스가 부모의 너비를 차지하도록 */
  border-radius: 20px 20px 20px 20px; /* 모서리 */
  text-align: center;
  animation: slideDown 0.5s ease-in-out;
}

.popupButton {
  background-color: transparent; /* 버튼 배경색 제거 */
  border: none; /* 버튼 테두리 제거 */
  color: black;
  padding: 10px; /* 버튼 크기 조정 */
  margin-right: 10px; /* 버튼들 사이의 간격 */
}

.popupButton:hover,
.popupButton:active {
  background-color: #fff3d6; /* 호버 및 클릭 시 배경색 유지 */
  color: black !important; /* 호버 및 클릭 시 텍스트 색상 유지 */
  /*text-decoration: underline; /* 호버 시 밑줄 */
}

.divider {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  align-items: center;
}
.dividers {
  margin-top: 20px;
  margin-bottom: 32px;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.sensorLogs p {
  font-size: clamp(11px, 1.2vw, 18px);
}
