@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

.container {
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  font-family: "NanumBarunGothic", Arial, sans-serif; /* 기본 폰트 적용 */
  width: 100%;
}
/* 헤더와 사이드바 제외한 메인 컨텐츠 */
.content {
  display: flex;
  flex-direction: column; /* 사이드바와 메인 컨텐츠 수평 배치 */
  width: 96%;
  padding: 20px;
  /*height: calc(100% - 60px); /* 헤더 높이만큼 뺌 */
  /*box-sizing: border-box;*/
  font-family: "NanumBarunGothic", sans-serif; /* 폰트 변경 */
}

.SideBar {
  width: 220px; /* 사이드바 너비 고정 */
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main {
  display: flex;
  flex-direction: row; /* 메인 내용 수평 배치 */
  padding: 20px;
  gap: 4%; /* 도면과 패널 사이의 간격 */
  margin-top: -6%;
  box-sizing: border-box;
}

/* 도면을 감싸는 영역 */
.floorMapContainer {
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  justify-content: center;
  align-items: center; /* 도면과 문구를 가운데 정렬 */
  margin-right: 4%;
  height: fit-content;
  margin-left: 11%;
}

.floorMap {
  margin-top: 24%;
  position: relative;
  width: 440px;
  height: auto; /* 도면 크기 적절히 조정 */
}

.mapImage {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 이미지 크기를 조정하면서 맞춤 */
}

.floorTitle {
  margin-top: 4%;
  margin-left: 20%;
  font-size: 32px; /* 문구 크기 */
  font-weight: bold;
  height: fit-content;
  font-family: "NanumBarunGothic", Arial, sans-serif; /* 폰트 적용 */
  text-shadow: 0 0 gray;
}

.roomPin {
  position: absolute;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  font-family: "NanumBarunGothic", Arial, sans-serif; /* 폰트 적용 */
}

/* 우측 정보 패널 */
.infoPanels {
  display: flex;
  /*overflow-x: auto; /* 가로로 넘칠 경우 스크롤 추가 */
  gap: 8%; /* 패널 간 간격 */
  padding: 10px; /* 패널이 가장자리에 붙지 않도록 여백 추가 */
}

.infoPanel {
  height: 540px;
  width: 380px;
  padding: 6%; /* 내부 여백을 줄임 */
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  margin-top: 16%;
  font-family: "NanumBarunGothic", Arial, sans-serif; /* 폰트 적용 */
}

.infoPanel h2 {
  text-align: center;
  margin-bottom: 15px; /* 제목 아래 여백 조정 */
  font-size: 16px;
  font-family: "NanumBarunGothic", Arial, sans-serif; /* 폰트 적용 */
}

.infoItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 8px; /* 항목 간 간격을 줄임 */

  font-family: "NanumBarunGothic", Arial, sans-serif; /* 폰트 적용 */
}
.roomId {
  margin-left: 5px;
  font-size: 32px;
  font-weight: bold;
  color: black;
  display: block;
}

.coordinateDot {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: dotAnimation 1s ease-in-out infinite;
}
.ring {
  position: absolute;
  border: 2px solid rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 10%;
  animation: pulse 1.5s infinite;
  opacity: 0;
}

.ring:nth-child(2) {
  width: 52px;
  height: 52px;
  animation-delay: 0.75s;
}
@keyframes dotAnimation {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}
.dot {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.redDot,
.greenDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.redDot {
  background-color: red;
}

.greenDot {
  background-color: green;
}

/* 수치 정보 */
.infoScore {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px; /* 수치 글씨 크기 줄임 */
  margin-top: 15px; /* 수치 위 아래 여백 조정 */
  font-family: "NanumBarunGothic", Arial, sans-serif; /* 폰트 적용 */
}
