.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 2px solid #00FF00;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 600px;
}

.AllSection {
  display: flex;
  flex-direction: column;
}

h3 {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
}

.SecondSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.icon img {
  width: 40px;
  height: 40px;
}

.roomInfo {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 10px;
  font-size: 1.5rem;
}

.roomInfo h3 {
  margin: 0 5px 0 0;
  font-size: 16px;
}

.roomInfo h2 {
  font-size: 16px;
  margin: 0;
}

.star img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.sensorSection {
  flex: 1; /* 센서 정보 영역을 기본 비율로 유지 */
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.sensorItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}

.sensorItem img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.sensorItem span {
  display: flex;
  align-items: center;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 14px;
}

.unit {
  margin-left: 2px;
}

.statusDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00FF00;
}

.controlSection {
  flex: 4; /* ControlBox의 비율을 크게 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.controlSection div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.memoEdit {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: gray;
  margin-left: auto;
}

.memoEdit img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
