.sidebarContainer {  
  background-color: white;
  width: clamp(180px, 24%, 260px);
  min-height: 480px;
  height: calc(100vh - 5vw);
  display: flex;
  align-items: center;
}

.sidebar {
  width: 100%;
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  color: #5F6165;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {  
  padding-left: clamp(20px, 2%, 32px); 
  padding-top: clamp(5px, 3%, 32px);
  padding-bottom: clamp(5px, 3%, 32px);
  display: flex;
  margin-bottom: clamp(16px, 2%, 32px);
}

.navLink {
  text-decoration: none;
  color: #333;
  font-size: clamp(10px, 1vw, 28px);
  padding: 5%;
  display: block;
  border-radius: 4px;
}

.navItem:hover {
  background-color: #ddd;
  font-weight: bold;
  color: #000;
}

.separator {
  min-height: 480px;
  height: 100%;
  border: none;
  border-left: 1px solid #9F9F9F;
  margin-left: 0px;
}

.title {
  padding-left: clamp(20px, 2%, 32px); 
  font-size: clamp(16px, 2vw, 32px);
  font-weight: bold;
  display: flex;
  padding-top: 5%;
  padding-bottom: 15%;
}

.titleImg {
  width: 3vw;
  height: auto;
  margin-right: 8px;
}

.icon {
  width: 10%; 
  height: 10%;
  align-self: center;
}

.logoutIcon {
  align-self: center;
}

.bold {
  font-weight: bold !important;
}
