.box{
  background-color: white;
  width: clamp(10px, 98%, 1800px);
  height: 90%;
  border-radius: clamp(0.5px, 2vw, 15px);
  border: 1px solid BLUE;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  padding: 1%;
  margin: auto;
}

.bottom {
    padding: 2% 4%;
    background-color: #F0F0F0;
    width: 92%;
    height: 90%;
  }
  