@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), 
       url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), 
       url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

/* 기본 폰트 설정 */
body {
  font-family: 'NanumBarunGothic', Arial, sans-serif;
  background-color: #ffffff; /* 전체 페이지 배경색 */
  margin: 0;
  padding: 0;
}

.banner {
  display: flex;
  align-items: center;
  background-color: #FFB841; /* 노란색 배너 */
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 100%;
  height: clamp(80px, 18vw, 100px); /* 반응형 높이 */
  padding: clamp(9px, 1vw, 13px) 2%;
}

.bannerIcon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

h1 {
  margin-left: 15px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: 'NanumBarunGothic', Arial, sans-serif;
  width: 100%;
  background-color: #F0F0F0;
}

.registerSection {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
}

.registerRoom, .removeRoom, .registerBuilding {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 32%;
  height: 580px;
  border: 2px solid #FFB841;
  overflow-y: auto; /* 내부 내용이 많을 경우 스크롤 허용 */
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #555;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

input, textarea, select {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'NanumBarunGothic', Arial, sans-serif;
  box-sizing: border-box;
}

textarea {
  height: 80px;
  resize: none; /* 크기 조정 불가능 */
}

button {
  width: 100%;
  background-color: #FFCC80; /* 버튼 색상 */
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #FFB841; /* Hover 시 색상 */
}

.floorDrawings div, .Contact_registerBuilding__map {
  margin-bottom: 15px;
}

.Contact_registerBuilding__map label {
  margin-bottom: 5px;
}

.mapPreview img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .registerSection {
    flex-direction: column;
  }

  .registerRoom, .removeRoom, .registerBuilding {
    width: 100%;
    margin-bottom: 20px;
  }
}
