* {
  margin: 0;
  padding: 0; 
   box-sizing: border-box;
}
.fullScreenContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
  width: 100%;
  height: 93vh; /* Header 제외한 나머지 화면 전체 */
  background-color: #F0F0F0;
}
.content {
  width: 100%;
  display: flex;  
  flex-grow: 1;
  flex-direction: column;
}
/* top의 초기 높이와 비율 조정 */
.top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FFB841;
  width: 100%;
  height: calc(15% + 5vw); 
  padding: clamp(9px, 1vw, 13px) 2%;
  margin-top: 0;
}
.currentRoom{
  width: 12%;
}
.titleTop {
  font-size: clamp(4px, 1.1vw, 16px);
  font-weight: bold;
  display: flex;
}

.title {
  font-size: clamp(10px, 1.8vw, 32px);
  margin: 5% 0;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleImg {
  width: 26%;
  aspect-ratio: 1 / 1.1;
  margin-right: 0.1%;
}

.titleTopImg {
  width: 10%;
  height: auto;
  margin-left: 0.1%;
}

.bottom {
  display: grid;
  grid-template-columns: 8fr 2fr;
  gap: 2.5vw;
  background-color: #F0F0F0;
  width: 100%;
  overflow: hidden;
  padding: 2% 6%;
  height: calc(85% - 5vw);
}



.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.leftBox {
  display: grid;
  grid-template-columns: 1fr 4fr; /* 1:0.1:2 비율 */
  background-color: white;
  width: 100%;
  height: 94%;
  border-radius: 1.5vw;
  align-items: center;
  justify-items: center; /* 그리드 아이템을 중앙에 정렬 */
  font-weight: bold;
  padding: 2%;
}

.rightContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; /* 1:1:1 비율로 설정 */
  align-items: center; /* 세로 방향 정렬 */
  justify-items: center; /* 가로 방향 정렬 */
  width: 100%;
  height: 94%;
  font-weight: bold;
  margin: auto;
  gap: 1vh;
}


.select {
  display: flex;
  gap: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}





























