@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), 
       url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), 
       url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

/* 메인 컨테이너 레이아웃 */
.container {
  display: flex;
  height: 90vh;
  font-family: 'NanumBarunGothic', sans-serif;
}

/* 콘텐츠 스타일 */
.content {
  width: 96%;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'NanumBarunGothic';
}

/* 필터들을 가로로 동일한 축에 맞추기 위한 수정 */
.filters {
  display: flex;
  flex-direction: row;
  align-items: center; /* 필터 항목 전체를 세로 가운데 정렬 */
  gap: 20px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.filterItem {
  display: flex;
  align-items: center; /* 요소들을 수평 중앙 정렬 */
  gap: 10px;
}

.filterItem label {
  display: inline-block;
  line-height: 30px; /* 레이블의 높이 조정 */
  font-size: 16px; /* 필요에 따라 글자 크기 조정 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.filterItem input, 
.filterItem select {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #888;
  height: 30px; /* 입력창 높이 고정 */
  box-sizing: border-box;
}

/* 탭 스타일 */
.tabs {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: nowrap;
}

.tabLabel {
  display: flex;
  align-items: center; /* 체크박스와 텍스트를 수평 정렬 */
  gap: 5px;
  white-space: nowrap;
  font-size: 16px;
}

.tabLabel input[type="checkbox"] {
  margin: 0;
  vertical-align: middle; /* 체크박스 세로 정렬 */
}

/* 센서 데이터 목록 */
.sensorData {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  font-family: 'NanumBarunGothic';
}

.sensorItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #888;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'NanumBarunGothic';
  background-color: #fff;
}

.sensorItem span {
  display: inline-block;
  white-space: nowrap;
}

/* 첫 번째 텍스트 (날짜) */
.sensorItem span:nth-child(1) {
  width: 150px;
  text-align: left;
}

/* 두 번째 텍스트 (강의실 정보) */
.sensorItem span:nth-child(2) {
  flex-grow: 1;
  text-align: center;
}

/* 세 번째 텍스트 (TVOC 값) */
.sensorItem span:nth-child(3) {
  width: 150px;
  text-align: right;
}

/* 하단 스타일 */
.bottom {
  padding: 2% 4%;
  background-color: #F0F0F0;
  width: 92%;
  height: 90%;
  font-family: 'NanumBarunGothic';
}

/* 스크롤바 스타일 */
.sensorData::-webkit-scrollbar {
  width: 10px;
}

.sensorData::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
