@font-face {
  font-family: 'RixXladywatermelonR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-4@1.0/RixXladywatermelonR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 메인 컨테이너 레이아웃 */
.container {
  display: flex;
  height: 90vh;
  font-family: 'RixXladywatermelonR', Sansation; /* 폰트 변경 */
}

/* 콘텐츠 스타일 */
.content {
  width: 96%;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'RixXladywatermelonR'; /* 폰트 적용 */
}

/* 필터들을 가로로 동일한 축에 맞추기 위한 수정 */
.filters {
  display: flex;
  flex-direction: row; /* 필터 항목들을 가로로 배치 */
  align-items: center; /* 요소들을 세로로 가운데 정렬 */
  gap: 20px; /* 필터 항목 간의 간격 */
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.filterItem {
  display: flex;
  flex-direction: row; /* 라벨과 입력창을 가로로 배치 */
  align-items: center; /* 라벨과 입력창을 세로로 가운데 정렬 */
  gap: 10px; /* 라벨과 입력창 사이의 간격 */
}

.filterItem label {
  margin: 0; /* 라벨의 기본 여백 제거 */
  white-space: nowrap; /* 라벨 텍스트가 줄바꿈되지 않도록 설정 */
}

.filterItem input, .filterItem select {
  padding: 5px; /* 입력창의 패딩 최소화 */
  border-radius: 5px;
  border: 2px solid #888; /* 테두리 두께 조정 */
  height: 30px; /* 입력창 높이 고정 */
  box-sizing: border-box; /* padding과 border 포함하여 박스 크기 계산 */
}

.tabs {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}

.tabLabel {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center; /* 라디오 버튼과 라벨을 세로 가운데 정렬 */
}

/* 센서 데이터 목록 */
.sensorData {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #f0f0f0; /* 배경을 연한 그레이로 지정 */
  padding: 20px;
  border-radius: 8px;
  font-family: 'RixXladywatermelonR'; /* 폰트 적용 */
}

.sensorItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #888; /* 박스 두께를 더 두껍게 하고 색상 지정 */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'RixXladywatermelonR'; /* 폰트 적용 */
  background-color: #fff; /* 로그 값 박스 배경을 흰색으로 설정 */
}
/* 하단 스타일 */
.bottom {
padding: 2% 4%;
background-color: #F0F0F0;
width: 92%;
height: 90%;
font-family: 'RixXladywatermelonR'; /* 폰트 적용 */
}

/* 스크롤바 스타일 */
.sensorData::-webkit-scrollbar {
width: 10px;
}

.sensorData::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.2);
border-radius: 10px;
}
