* {
  margin: 0;
  padding: 0; 
   box-sizing: border-box;
}

.fullScreenContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), 
       url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), 
       url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

.container {
  display: flex;  
  width: 100%;
  height: calc(100vh - 5vw);
  font-family: 'NanumBarunGothic', sans-serif;
}

.content {
  width: 100%;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'NanumBarunGothic';
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 20px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.filterItem {
  display: flex;
  align-items: center; 
  gap: 10px;
}

.filterItem label {
  display: inline-block;
  line-height: 30px; 
  font-size: 16px; 
  white-space: nowrap; 
}

.filterItem input, 
.filterItem select {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #888;
  height: 30px; 
  box-sizing: border-box;
}

.tabs {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: nowrap;
}

.tabLabel {
  display: flex;
  align-items: center; 
  gap: 5px;
  white-space: nowrap;
  font-size: 16px;
}

.tabLabel input[type="checkbox"] {
  margin: 0;
  vertical-align: middle; 
}

.sensorData {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  font-family: 'NanumBarunGothic';
}

.sensorItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #888;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'NanumBarunGothic';
  background-color: #fff;
}

.sensorItem span {
  display: inline-block;
  white-space: nowrap;
}

.sensorItem span:nth-child(1) {
  width: 150px;
  text-align: left;
}

.sensorItem span:nth-child(2) {
  flex-grow: 1;
  text-align: center;
}

.sensorItem span:nth-child(3) {
  width: 150px;
  text-align: right;
}

.bottom {
  padding: 2% 4%;
  background-color: #F0F0F0;
  width: 92%;
  height: 90%;
  font-family: 'NanumBarunGothic';
}

.sensorData::-webkit-scrollbar {
  width: 10px;
}

.sensorData::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
